{% extends 'base.html.twig' %}

{% block title %}Projets Tutto Pasta{% endblock %}

{% block page_title %} Projets {% endblock %}

{% block body %}
    {{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}
    <main class="wrapper">
        <ul class="project_list">
            {% for project in projects %}
                <li>
                    <a class="project_container" href="{{ path('app_project', { 'slug': project.slug }) }}">
                        <div class="project_content">
                            <p>{{ project.projectDate|date("Y") }}</p>
                            <p>{{ project.projectName }}</p>
                            {# Itération sur les catégories du projet #}
                                {% for category in project.categories %}
                                    <p>{{ category.categoryName }}</p>
                                {% endfor %}
                        </div>
                        {# Itération sur les images du projet #}
                        {% for projectImg in project.images %}
                            <img class="projects_list_img" src="{{ asset(projectImg.image) }}" alt="{{ projectImg.alt }}">
                        {% endfor %}
                    </a>
                </li>
                <hr class="separator">
            {% endfor %}
        </ul>
    </main>
{% endblock %}
