{% extends 'base.html.twig' %}

{% block title %}Projets Tutto Pasta{% endblock %}

{% block page_title %} Projets {% endblock %}

{% block body %}
    {{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}
    <main class="wrapper">
        {% for project in projects %}
            <a href="{{ path('app_project', { 'slug': project.slug }) }}"> lien</a>
            {% for projectImg in projectImgs %}
                {{projectImg.image}}
            {% endfor %}
            {{project.projectName}} <br>
            {{project.projectContent}}
        {% endfor %}
    </main>
{% endblock %}
