{% extends 'base.html.twig' %}

{% block title %}Projets Tutto Pasta{% endblock %}

{% block page_title %} Projets {% endblock %}

{% block body %}
    {{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}
    <main class="wrapper">
        {% for project in projects %}
            <a href="{{ path('app_project', { 'slug': project.slug }) }}"> lien</a>

            {# Itération sur les images du projet #}
            {% for projectImg in project.images %}
                <img class="projects_list_img" src="{{ asset(projectImg.image) }}" alt="{{ projectImg.alt }}">
            {% endfor %}

            <p>{{ project.projectName }}</p>
            <p>{{ project.projectContent }}</p>
        {% endfor %}
    </main>
{% endblock %}