{% extends 'base.html.twig' %}

{% block title %}{{project.projectName}}{% endblock %}

{% block page_title %} {{project.projectName}} {% endblock %}

{% block body %}
    {{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}
    <main class="wrapper">
        {# Si j'ai besoin que d'un élément de la collection image:  #}
        {# {{ dump(project.images.1) }} #}
        {{project.projectName}} <br>
        {{project.projectContent}}
    </main>

{% endblock %}
