{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }} {# Etend le block head défini dans le layout  #}
    <meta property="og:title" content="{{ project.projectName }}" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:language" content="fr">
    <meta property="og:image" content="{{ asset('img/projects/' ~ project.images[0].image) }}" />
    <meta property="og:type" content="article" />
{% endblock %}

{% block title %}{{project.projectName}}{% endblock %}

{% block page_title %} {{project.projectName}} {% endblock %}

{% block body %}
    {{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}
    <main class="wrapper_project">
        <section id="project_container">
            <div class="project_header">
                <img src="{{ asset('img/projects/' ~ project.images[0].image) }}" alt="{{ project.images[0].alt }} loading="lazy"" />
                <img src="{{ asset('img/projects/' ~ project.images[1].image) }}" alt="{{ project.images[1].alt }} loading="lazy"" />
                <div class="project_details">
                    <h2>{{ project.projectTitle }}</h2>
                    {% for category in project.categories %}
                        <i class="fa-sharp fa-solid fa-arrow-right" style="color: #ffffff;"></i>
                        {{ category.categoryName }}
                    {% endfor %}
                </div>
                
                {{project.projectContent}}
            </div>
            <div class="project_gallery">
                <img src="{{ asset('img/projects/' ~ project.images[2].image) }}" alt="{{ project.images[2].alt }} loading="lazy"" />
                <img src="{{ asset('img/projects/' ~ project.images[3].image) }}" alt="{{ project.images[3].alt }} loading="lazy"" />
                <img src="{{ asset('img/projects/' ~ project.images[4].image) }}" alt="{{ project.images[4].alt }} loading="lazy"" />
            </div>

            <hr class="separator">

            <div class="social_share">
                <p>Partager ce projet : </p>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}" class="social_icons" target="_blank">
                    <i class="fa-brands fa-square-facebook fa-xl" style="color: #ffffff;"></i>
                </a>
                <a href="https://https://www.instagram.com/share/url/?url={{ app.request.uri }}" class="social_icons" target="_blank">
                    <i class="fa-brands fa-square-instagram fa-xl" style="color: #ffffff;"></i>
                </a>
                <a href="https://x.com/intent/post?url={{ app.request.uri }}" class="social_icons" target="_blank">
                    <i class="fa-brands fa-square-x-twitter fa-xl" style="color: #ffffff;"></i>
                </a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.uri }}" class="social_icons" target="_blank">
                    <i class="fa-brands fa-linkedin fa-xl" style="color: #ffffff;"></i>
                </a>
            </div>
            <hr class="separator">
        </section>
    </main>

{% endblock %}
