{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    
        <div class="form_container">
            <div class="form-group">
                {{ form_row(registrationForm.username) }}
                <div class="error_msg" id="pseudo_error"></div>
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.email) }}
                <div class="error_msg" id="email_error"></div>
            </div>
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            <div class="error_msg" id="password_error"></div>

            {{ form_errors(registrationForm.plainPassword) }}

            {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'agreeTerms'}}) }}
            {# {{ form_row(registrationForm.errors) }} #}
        
            <button type="submit" id="register_save" class="full_button_black">S'inscrire</button>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
{% block javascripts %}
<script src="{{ asset('/js/register.js')}}"></script>
{% endblock %}