{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}


{% block page_title %} Réinitialisation de mot de passe {% endblock %}

{% block body %}
    {{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}
    <section class="wrapper">
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        
        {{ form_start(requestForm) }}
            <div class="form_container">
                <div class="form-group">
                        {{ form_row(requestForm.email) }}
                        <div class="error_msg" id="email_error"></div>
                </div>

                <button id="validate_email" class="full_button_black">Envoyer</button>
            </div>
        {{ form_end(requestForm) }}
    </section>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('/js/login.js')}}"></script>
{% endblock %}

