<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Offre de prix</title>
    <style>

        :root {
            --white-color: #F5F5F5;
            --black-color: #0F0F0F;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        .header h2,
        .header p {
            text-align: right;
        }

        .footer {
            text-align: center;
            margin-bottom: 20px;
        }
        .header p, .footer p {
            margin: 5px 0;
        }

        .content p {
            margin: 5px 0;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table, th, td {
            border: 1px solid var(--black-color);
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: var(--black-color);
            color: var(--white-color);
        }
        tfoot th, tfoot td {
            font-size: 1.2em;
        }
    </style>
</head>
<body>
    <div class="header">
        <img src="data:image/svg+xml;base64,{{ logo }}" alt="Logo">
        <p>{{ "now"|date("d/m/Y") }}</p>
        <h2>Offre de prix</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th>Service</th>
                <th>Prix</th>
                <th>Catégorie</th>
            </tr>
        </thead>
        <tbody>
            {% set totalPrice = 0 %}
            {% for service in services %}
                <tr>
                    <td>{{ service.serviceName }}</td>
                    <td>{{ service.servicePrice|number_format(2, ',', ' ') }} €</td>
                    <td>{{ service.category.categoryName }}</td>
                </tr>
                {% set totalPrice = totalPrice + service.servicePrice %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">Total</th>
                <td>{{ totalPrice|number_format(2, ',', ' ') }} €</td>
            </tr>
        </tfoot>
    </table>
    <div class="footer">
        <p>&copy; {{ "now"|date("Y") }} Studio TuttoPasta</p>
    </div>
</body>
</html>