{% extends 'base.html.twig' %}

{% block title %}{{article.articleTitle}}{% endblock %}

{% block page_title %} {{ article.articleTitle }} {% endblock %}

{% block body %}
{{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}

<main class="wrapper">
    {#--------------------------------------- Section article ----------------------------------------#}
    <article class="article_content">        
        <span id="article_date">Rédigé par TuttoPasta, le {{ article.date }} | <a href="#comment_title">{{article.comments|length}} {% if article.comments|length <= 1 %}Commentaire{% else %}Commentaires{% endif %}</a></span>
        {{ article.articleContent|raw }} <br>
        {% for category in article.categories %}
            <p>{{ category.categoryName }}</p>
        {% endfor %}
        <hr id="article_separator">
        {#--------------------------------------- Section commentaires ----------------------------------------#}
        {# Compteur de commentaires #}
        <span id="comment_title" class="stickers_pink" data-count="{{article.comments|length}}">
            {{article.comments|length}}
            {% if article.comments|length <= 1 %} 
                Commentaire:
            {% else %} 
                Commentaires:
            {% endif %}
        </span>
        {# Contenu du commentaire #}
        <section id="comments_section">
            {% set sortedComments = article.comments|sort((a, b) => b.commentDate.timestamp - a.commentDate.timestamp) %}
            {% for comment in sortedComments %}
                <div class="comment" id="comment-{{ comment.id }}" data-slug="{{ article.slug }}">
                    <div class="comment_head">
                        <p>{{ comment.user.username }}</p>
                        <p>{{ comment.commentDate|date("d/m/Y à H:i") }}</p>
                    </div>
                    <div class="comment_content">
                        <p>{{ comment.commentContent }}</p>
                    </div>

                    {# Suppression si utilisateur = auteur ou admin #}
                    {% if is_granted('ROLE_ADMIN') or comment.user == app.user %}
                    <div class="comment_actions">
                        <a href="#" class="edit_comment" data-id="{{ comment.id }}"><img src="{{ asset('/img/editer.png')}}" height="18" alt="icône d'édition"></a>
                        <a href="#" class="delete_comment" data-id="{{ comment.id }}"><img src="{{ asset('/img/annuler.png')}}" height="18" alt="icône d'annulation"></a>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </section>
        {# Ajout d'un commentaire #}
        {% if not app.user %}   
            <a id="comment_join_btn" class="full_button_black" href="{{ path('app_register') }}">Inscrit toi et joins la conversation</a>
        {% else %}
            <span>Laisser un commentaire</span>
            {{ form_start(form, {'action': path('app_article_addComment', {'slug': article.slug}), 'method': 'POST', 'attr': {'id': 'comment_form'}}) }}
                {{ form_row(form.commentContent) }} 
                {{ form_errors(form) }}
                <button id="saved_comment" class="full_button_black" type="submit">Envoyer</button>
            {{ form_end(form) }}
        {% endif %}
    </article>
</main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/blog.js')}}"></script>
    {% endblock %}
