{% extends 'base.html.twig' %}

{% block title %}{{article.articleTitle}}{% endblock %}

{% block body %}

    <h1>Article</h1>
    {{article.articleTitle}} <br>
    {{article.articleContent}} <br>
    {% for category in article.categories %}
        <p>{{category.categoryName}}</p>
    {% endfor %}
    <p>{{article.date}}</p>
    {# {% for comment in article.comments %}
        <p>{{comment.commentContent}}</p>
        <p>{{comment.date}}</p>
    {% endfor %} #}
    {{ form_start(form, {'action': path('app_article_comment', {'slug': article.slug}), 'method': 'POST'}) }}
        {{ form_widget(form) }}
        <button type="submit">Envoyer</button>
    {{ form_end(form) }}

{% endblock %}
