{% extends 'base.html.twig' %}

{% block title %}{{article.articleTitle}}{% endblock %}

{% block body %}

<h1>Article</h1>
{{ article.articleTitle }} <br>
{{ article.articleContent }} <br>
{% for category in article.categories %}
    <p>{{ category.categoryName }}</p>
{% endfor %}
<p>{{ article.date }}</p>

<div id="comments_section">
    {% for comment in article.comments %}
        <div class="comment" id="comment-{{ comment.id }}" data-slug="{{ article.slug }}">
            <p>{{ comment.user.username }}</p>
            <div class="comment_content">
                <p>{{ comment.commentContent }}</p>
            </div>
            <p>{{ comment.date }}</p>

            {# Suppression si utilisateur = auteur ou admin #}
            {% if is_granted('ROLE_ADMIN') or comment.user == app.user %}
                <a href="#" class="edit_comment" data-id="{{ comment.id }}">Modifier</a>
                {# Cette méthode permet de ne pas transmettre les informations de suppression via l'URL #}
                <form id="delete_comment_form-{{ comment.id }}" action="{{ path('app_article_deleteComment', {'id':comment.id, 'slug': article.slug}) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">Supprimer</button>
                </form>
            {% endif %}
        </div> 
    {% endfor %}
</div>

{% if app.user %}
    {{ form_start(form, {'action': path('app_article_addComment', {'slug': article.slug}), 'method': 'POST', 'attr': {'id': 'comment_form'}}) }}
        {{ form_row(form.commentContent) }} 
        {{ form_errors(form) }}
        <button id="saved_comment" type="submit">Envoyer</button>
    {{ form_end(form) }}
{% endif %}

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('/js/blog.js')}}"></script>
{% endblock %}
