{% extends 'base.html.twig' %}

{% block title %}Blog TuttoPasta{% endblock %}

{% block page_title %} Les actus de TuttoPasta {% endblock %}

{% block body %}
    {{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}
    <section class="wrapper">
        {% for article in articles %}
        <a href="{{ path('app_article', { 'slug': article.slug }) }}"> lien</a>
        {{article.articleTitle}} <br>
        {% for category in article.categories %}
            <p>{{category.categoryName}}</p>
        {% endfor %}
            <p>{{article.date}}</p>
        {% endfor %}
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/blog.js')}}"></script>
{% endblock %}