{% extends 'base.html.twig' %}

{% block title %}Blog TuttoPasta{% endblock %}

{% block page_title %} Les actus de TuttoPasta {% endblock %}

{% block body %}
    {{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}
    <main class="wrapper">
        <ul class="article_list">
            {% for article in articles %}
            <li class="article_items">
                <a href="{{ path('app_article', { 'slug': article.slug }) }}">
                        <article class="article_card">
                            <h2 class="article_card_title">{{ article.articleTitle }}</h2>
                            <p>{{ article.date }}</p>
                            <div class="article_tags">
                                {% for tag in article.tags %}
                                    <span class="tag">{{ tag.tagName }}</span>
                                {% endfor %}
                            </div>    
                            <div class="see_more">Voir l'article <img src="{{ asset('/img/arrow_right.svg')}}" height="18" alt="icône d'annulation"></div>  
                        </article>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/blog.js')}}"></script>
{% endblock %}