{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block page_title %}Profil{% endblock %}

{% block body %}
    {{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}
    <main class="wrapper">
        <p>Pseudo: {{user.username|capitalize}} </p>
        <p>Adresse Email: {{user.email}} </p>
        <p>Création du compte: {{user.accountDate|date('d/m/Y')}}</p>

        <a class="show_modal_edit_data full_button_black">Modifier mes informations</a>
        <a class="show_modal_edit_password full_button_black">Modifier mon mot de passe</a>
        
        {# Modale d'édition des information utilisateur #}
        <dialog class="modal_edit_data">
            {{ form_start(form) }}
                {{ form_row(form.username) }}
                <div class="error_msg" id="pseudo_error"></div>

                {{ form_row(form.email) }}
                <div class="error_msg" id="email_error"></div>

                <div class="center_button">
                    <button class="full_button_black" id="save_edit_data" type="submit">Valider les informations</button>
                </div>
            {{ form_end(form) }}
            <button class="closeModal">X</button>
        </dialog>

        {# Modal d'édition de mot de passe #}
        <dialog class="modal_edit_password">
            {{ form_start(passwordForm) }}
                {{ form_widget(passwordForm) }}
                <div class="error_msg" id="password_error"></div>

                <div class="center_button">
                    <button class="full_button_black" id="save_edit_password" type="submit">Changer le mot de passe</button>
                </div>
            {{ form_end(form) }}
            <button class="closeModal">X</button>
        </dialog>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/profil.js')}}"></script>
{% endblock %}